body{
    background-color: #202632;
    font-family: 'Manrope', sans-serif;
}

.main{
    background-color: #313a49;
    max-width: 500px;
    border-radius: 8px;
    font-weight: 800;
}

.adviceNumber {
    letter-spacing: 3px;
    color: hsl(150, 100%, 66%);
    font-weight: 300;
    font-size: 0.9rem;
}

.adviceText{
    color: rgb(215, 218, 226);
    font-size: 1.3rem;
}

.dice {
    
    
    background-color: hsl(150, 100%, 66%);
}

.diceDiv{

    padding-top: 11px;
}

.round{
    width: 50px;
    height: 50px;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    position: relative;
    top: 25px !important;
    right: 0;
  
    
}